<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/kadai4/src/kadai4/kadai4_1_1.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="kadai4.kadai4_1_1"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="kadai4"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="kadai4"/>
</launchConfiguration>
